/*
  Color Palette:
  http://paletton.com/#uid=31P1e0kqprfgbzFl8tjsJlOxCgW
*/
body {
  font-family: 'Fira Sans';
  margin-bottom: 0px;
  background: #BEBEBE;
}

#sidebar {
  position: absolute;
  top: 0px;
  padding-top: 0px;
  height: 100%;
  left: 0;
  width: 100px;
  background-color: #291F60;
  display: inline;
  text-align: center;
}

#header {
  position: absolute;
  top: 0px;
  left: 98px;
  padding-left: 20px;
  background-color: #291F60;
  height: 60px;
  width: 650px;
  border-bottom: solid 4px black;
  border-left: solid 0px black;
  border-right: solid 0px black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  width: 100%;
}

#links {
  position: absolute;
  color: black;
  bottom: 0px;
  left: 250px;
}

#title {
  margin: 0px;
  float: left;
}

#wrapper {
  margin: 0 auto;
  position: relative;
  height: 100%;
  width: 768px;
  border-width: 2px;
  overflow: hidden;
  border-color: black;
  border-style: solid;
  background-color: white;
}

#sidebar-content {
  position: absolute;
  top: 70px;
  left: 0px;
  width: 100%;
}

.header-link {
  border-bottom: 0px;
}

#main-content {
  width: 638px;
  position: absolute;
  left: 16px;
  top: 10px;
}

#main-content-container {
  border-left: 2px black solid;
  position: absolute;
  left: 100px;
  top: 64px;
  width: 668px;
  height: 100%;
}

.sidebar-button {
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  padding-bottom: 3px;
  padding-top: 3px;
  width: 100px;
  display: inline-block;
  position: relative;
  margin-top: -1px;
}

.sidebar-button:hover {
  background-color: black;
}

.main-link {
  color: blue;
}
