/*
  Color Palette:
  http://paletton.com/#uid=31P1e0kqprfgbzFl8tjsJlOxCgW
*/
body {
  font-family: 'Fira Sans';
  margin-bottom: 0px;
  min-height: 100%;
  background-color: black;
}

#sidebar {
  width: 100px;
  background-color: #291F60;
  text-align: center;
  float: left;
  clear: both;
}

#header {
  background-color: #291F60;
  height: 60px;
  width: 768px;
  border-bottom: solid 4px black;
  border-left: solid 0px black;
  border-right: solid 0px black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  width: 100%;
}

#links {
  position: absolute;
  color: black;
  bottom: 0px;
  left: 250px;
}

#title {
  margin: 0px;
}

#wrapper {
  margin: 0 auto;
  position: relative;
  width: 768px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  overflow: hidden;
}

#sidebar-content {
  width: 100%;
}

.header-link {
  border-bottom: 0px;
  margin-left: 10px;
}

#main-content {
  left: 8px;
  top: 10px;
  padding: 20px;
}

#main-content-container {
  background-color: white;
  float: right;
  width: 664px;
}

.sidebar-button {
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  padding-bottom: 3px;
  padding-top: 3px;
  width: 100px;
  display: inline-block;
  position: relative;
  margin-top: -1px;
}

.sidebar-button:hover {
  background-color: black;
}

.main-link {
  color: blue;
}

html {
  height: 100%;
}

div {
  display: block;
}

.title-header {
  padding-top: 10px;
  margin: 0px;
  float: left;
  margin-left: 20px;
}

#header-links {
  padding-top: 12px;
  float: right;
  margin-right: 30px;
}

.main-title-link {
  color: black;
  background: transparent url(images/main_link_icon.png) no-repeat center right;
  background-size: 20px 20px;
  padding-right: 40px;
  padding-top: 8px;
}

.main-h2 {
  margin-right: 0px;
  display: inline-block;
}
